@media  screen and (min-width: 1280px) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 100vw;
  position: relative;
  float: left;
}

.open {
  width: 100vw;
  height: 100vh;
  background-image: url(immagini/slide.gif);
  background-size: cover;
  background-color: #e53b1a;
  position: relative;
  float: left;
  margin: 0;
}

.textopen {
  width: 84vw;
  margin-left: 8vw;
}

.textopen p {
  line-height: 25px;
}

.caratteristiche {
  position: relative;
  float: left;
  width: 84vw;
  margin-left: 8vw;
  margin-top: 25vw;
  display: flex;
}

.imgcara {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  background-image: url(immagini/apto_hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #e53b1a;
  margin-left: 8vw;
}

.textcara {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
  align-self: flex-end;
}

.aspetto {
  position: relative;
  float: left;
  width: 84vw;
  height: 38vw;
  margin-top: 25vw;
  margin-left: 8vw;
  background-image: url();
  background-color: #e53b1a;
}

.esploso {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row-reverse;
}

.imgesploso {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  background-image: url();
  background-color: #e53b1a;
}

.textesploso {
  position: relative;
  float: left;
  line-height: 25px;
  width: 38vw;
  margin-left: 8vw;
  align-self: flex-end;
}

.istruzioni {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
}

.textistruzioni {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
  align-self: flex-end;
}

.imgistruzioni {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  margin-left: 8vw;
  background-image: url(immagini/istruzioni.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stories {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media  screen and (min-width: 1024px) and (max-width: 1280px) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 100vw;
  position: relative;
  float: left;
}

.open {
  width: 100vw;
  height: 100vh;
  background-image: url(immagini/slide.gif);
  background-size: cover;
  background-color: #e53b1a;
  position: relative;
  float: left;
  margin: 0;
}

.textopen {
  width: 84vw;
  margin-left: 8vw;
}

.textopen p {
  line-height: 25px;
}

.caratteristiche {
  position: relative;
  float: left;
  width: 84vw;
  margin-left: 8vw;
  margin-top: 25vw;
  display: flex;
}

.imgcara {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  background-image: url(immagini/apto_hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #e53b1a;
  margin-left: 8vw;
}

.textcara {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
  align-self: flex-end;
}

.aspetto {
  position: relative;
  float: left;
  width: 84vw;
  height: 38vw;
  margin-top: 25vw;
  margin-left: 8vw;
  background-image: url();
  background-color: #e53b1a;
}

.esploso {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row-reverse;
}

.imgesploso {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  background-image: url();
  background-color: #e53b1a;
}

.textesploso {
  position: relative;
  float: left;
  line-height: 25px;
  width: 38vw;
  margin-left: 8vw;
  align-self: flex-end;
}

.istruzioni {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
}

.textistruzioni {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
}

.imgistruzioni {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  margin-left: 8vw;
  background-image: url(immagini/istruzioni.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stories {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media  screen and (min-width: 767px) and (max-width: 1024px) and (orientation : portrait) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 100vw;
  position: relative;
  float: left;
}

.open {
  width: 100vw;
  height: 100vh;
  background-image: url(immagini/slide.gif);
  background-size: cover;
  background-color: #e53b1a;
  position: relative;
  float: left;
  margin: 0;
}

.textopen {
  width: 84vw;
  margin-left: 8vw;
}

.textopen p {
  line-height: 25px;
}

.caratteristiche {
  position: relative;
  float: left;
  width: 84vw;
  margin-left: 8vw;
  margin-top: 25vw;
  display: flex;
}

.imgcara {
  position: relative;
  float: left;
  width: 38vw;
  height: 38vw;
  background-image: url(immagini/apto_hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #e53b1a;
  margin-left: 8vw;
}

.textcara {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
  align-self: flex-end;
}

.aspetto {
  position: relative;
  float: left;
  width: 84vw;
  height: 38vw;
  margin-top: 25vw;
  margin-left: 8vw;
  background-image: url();
  background-color: #e53b1a;
}

.esploso {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row-reverse;
}

.imgesploso {
  position: relative;
  float: left;
  width: 38vw;
  height: 38vw;
  background-image: url();
  background-color: #e53b1a;
}

.textesploso {
  position: relative;
  float: left;
  line-height: 25px;
  width: 38vw;
  margin-left: 8vw;
  align-self: flex-end;
}

.istruzioni {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
}

.textistruzioni {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
}

.imgistruzioni {
  position: relative;
  float: left;
  width: 38vw;
  height: 38vw;
  margin-left: 8vw;
  background-image: url(immagini/istruzioni.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stories {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 100vw;
  position: relative;
  float: left;
}

.open {
  width: 100vw;
  height: 100vh;
  background-image: url(immagini/slide.gif);
  background-size: cover;
  background-color: #e53b1a;
  position: relative;
  float: left;
  margin: 0;
}

.textopen {
  width: 84vw;
  margin-left: 8vw;
}

.textopen p {
  line-height: 25px;
}

.caratteristiche {
  position: relative;
  float: left;
  width: 84vw;
  margin-left: 8vw;
  margin-top: 25vw;
  display: flex;
}

.imgcara {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  background-image: url(immagini/apto_hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #e53b1a;
  margin-left: 8vw;
}

.textcara {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
  align-self: flex-end;
}

.aspetto {
  position: relative;
  float: left;
  width: 84vw;
  height: 38vw;
  margin-top: 25vw;
  margin-left: 8vw;
  background-image: url();
  background-color: #e53b1a;
}

.esploso {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row-reverse;
}

.imgesploso {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  background-image: url();
  background-color: #e53b1a;
}

.textesploso {
  position: relative;
  float: left;
  line-height: 25px;
  width: 38vw;
  margin-left: 8vw;
  align-self: flex-end;
}

.istruzioni {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
}

.textistruzioni {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
}

.imgistruzioni {
  position: relative;
  float: left;
  width: 38vw;
  height: 25vw;
  margin-left: 8vw;
  background-image: url(immagini/istruzioni.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stories {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
}
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  screen and (min-width: 480px) and (max-width: 767px) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 100vw;
  position: relative;
  float: left;
}

.open {
  width: 100vw;
  height: 100vh;
  background-image: url(immagini/slide_cel.gif);
  background-size: cover;
  background-color: #e53b1a;
  position: relative;
  float: left;
  margin: 0;
}

.textopen {
  width: 84vw;
  margin-left: 8vw;
}

.textopen p {
  line-height: 25px;
}

.caratteristiche {
  position: relative;
  float: left;
  width: 84vw;
  margin-left: 8vw;
  margin-top: 25vw;
  display: flex;
}

.imgcara {
  position: relative;
  float: left;
  width: 38vw;
  height: 38vw;
  background-image: url(immagini/apto_hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #e53b1a;
  margin-left: 8vw;
}

.textcara {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
  align-self: flex-end;
}

.aspetto {
  position: relative;
  float: left;
  width: 84vw;
  height: 38vw;
  margin-top: 25vw;
  margin-left: 8vw;
  background-image: url();
  background-color: #e53b1a;
}

.esploso {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row-reverse;
}

.imgesploso {
  position: relative;
  float: left;
  width: 38vw;
  height: 38vw;
  background-image: url();
  background-color: #e53b1a;
}

.textesploso {
  position: relative;
  float: left;
  line-height: 25px;
  width: 38vw;
  margin-left: 8vw;
  align-self: flex-end;
}

.istruzioni {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
}

.textistruzioni {
  width: 38vw;
  position: relative;
  float: left;
  line-height: 25px;
}

.imgistruzioni {
  position: relative;
  float: left;
  width: 38vw;
  height: 38vw;
  margin-left: 8vw;
  background-image: url(immagini/istruzioni.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stories {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
}

}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media  screen and (min-width: 320px) and (max-width: 480px) {

h1 {
  font-size: 90px;
  font-family: rubrik-new;
  font-weight: 500;
  color: #e53b1a;
  margin: 0;
  margin-top: 45vh;
}

h3 {
  font-size: 35px;
  font-family: rubrik-new;
  font-weight: 500;
  color: #212529;
  margin: 0;
}

h4 {
  font-size: 30px;
  font-family: rubrik-new;
  font-weight: 400;
  color: #212529;
  margin: 20px 0 30px 0;
}

h5 {
  font-size: 20px;
  font-family: rubrik-new;
  font-weight: 500;
  color: #e53b1a;
  margin: 20px 0 10px 0;
}

.main {
width: 100vw;
position: relative;
float: left;
}

.open {
width: 100vw;
height: 100vh;
background-image: url(immagini/slide_cel.gif);
background-size: cover;
background-color: #e53b1a;
position: relative;
float: left;
margin: 0;
}

.textopen {
width: 84vw;
margin-left: 8vw;
}

.textopen p {
line-height: 25px;
}

.caratteristiche {
position: relative;
float: left;
width: 84vw;
margin-left: 8vw;
margin-top: 25vw;
display: flex;
flex-direction: column-reverse;
}

.imgcara {
position: relative;
float: left;
width: 84vw;
height: 50vw;
background-image: url(immagini/apto_hero.jpg);
background-position: center;
background-size: cover;
background-color: #e53b1a;
}

.textcara {
position: relative;
float: left;
line-height: 25px;
}

.aspetto {
position: relative;
float: left;
width: 84vw;
height: 50vw;
margin-top: 25vw;
margin-left: 8vw;
background-image: url();
background-color: #e53b1a;
}

.esploso {
position: relative;
float: left;
width: 84vw;
margin-top: 25vw;
margin-left: 8vw;
display: flex;
flex-direction: column-reverse;
}

.imgesploso {
position: relative;
float: left;
width: 84vw;
height: 50vw;
background-image: url();
background-color: #e53b1a;
}

.textesploso {
position: relative;
float: left;
line-height: 25px;
}

.istruzioni {
position: relative;
float: left;
width: 84vw;
margin-top: 25vw;
margin-left: 8vw;
display: flex;
flex-direction: column-reverse;
}

.textistruzioni {
position: relative;
float: left;
line-height: 25px;
}

.imgistruzioni {
position: relative;
float: left;
width: 84vw;
height: 50vw;
background-image: url(immagini/istruzioni.gif);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
background-color: transparent;
}

.stories {
position: relative;
float: left;
width: 84vw;
margin-left: 8vw;
margin-top: 25vw; 
}
}

@media  screen and (min-width: 250px) and (max-width: 320px) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 100vw;
  position: relative;
  float: left;
}

.open {
  width: 100vw;
  height: 100vh;
  background-image: url(immagini/slide_cel.gif);
  background-size: cover;
  background-color: #e53b1a;
  position: relative;
  float: left;
  margin: 0;
}

.textopen {
  width: 84vw;
  margin-left: 8vw;
}

.textopen p {
  line-height: 25px;
}

.caratteristiche {
  position: relative;
  float: left;
  width: 84vw;
  margin-left: 8vw;
  margin-top: 25vw;
  display: flex;
  flex-direction: column-reverse;
}

.imgcara {
  position: relative;
  float: left;
  width: 84vw;
  height: 50vw;
  background-image: url(immagini/apto_hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: #e53b1a;
}

.textcara {
  position: relative;
  float: left;
  line-height: 25px;
}

.aspetto {
  position: relative;
  float: left;
  width: 84vw;
  height: 50vw;
  margin-top: 25vw;
  margin-left: 8vw;
  background-image: url();
  background-color: #e53b1a;
}

.esploso {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: column-reverse;
}

.imgesploso {
  position: relative;
  float: left;
  width: 84vw;
  height: 50vw;
  background-image: url();
  background-color: #e53b1a;
}

.textesploso {
  position: relative;
  float: left;
  line-height: 25px;
}

.istruzioni {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
  display: flex;
  flex-direction: column-reverse;
}

.textistruzioni {
  position: relative;
  float: left;
  line-height: 25px;
}

.imgistruzioni {
  position: relative;
  float: left;
  width: 84vw;
  height: 50vw;
  background-image: url(immagini/istruzioni.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stories {
  position: relative;
  float: left;
  width: 84vw;
  margin-top: 25vw;
  margin-left: 8vw;
}


}
