@media  screen and (min-width: 1280px) {

  h1 {
    font-size: 100px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 40px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  .corpo a:link, a:visited {
    float: left;
    display: block;
    margin-left: 8vw;
    margin-bottom: 15vw;
  }

  .storia {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
    background-color: transparent;
  }

  .coming {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 30vw;
    margin-top: 4vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: center;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 30vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }


  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 10vw;
    width: 38vw;
  }

  .textstoria p {
    line-height: 25px;
  }

  .textstoria img {
    height: 10vw;
    margin-bottom: 1vw;
  }

  .nascondi {
    display: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 38vw;
  }

  .textcoming p {
    position: relative;
    float: left;
    width: 38vw;
    line-height: 25px;
    clear: both;
  }

  .textcoming img {
    height: 10vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media  screen and (min-width: 1024px) and (max-width: 1280px) {

  h1 {
    font-size: 100px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 40px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  .corpo a:link, a:visited {
    margin-left: 8vw;
  }

  .storia {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
    background-color: transparent;
  }

  .coming {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 30vw;
    margin-top: 4vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: center;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 30vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }


  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 10vw;
    width: 38vw;
  }

  .textstoria p {
    line-height: 25px;
  }

  .textstoria img {
    height: 10vw;
    margin-bottom: 1vw;
  }

  .nascondi {
    display: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 38vw;
  }

  .textcoming p {
    position: relative;
    float: left;
    width: 38vw;
    line-height: 25px;
    clear: both;
  }

  .textcoming img {
    height: 10vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media  screen and (min-width: 767px) and (max-width: 1024px) and (orientation : portrait) {

  h1 {
    font-size: 100px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 40px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vw;
  }

  .corpo a:link, a:visited {
    margin-left: 8vw;
  }

  .storia {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
    background-color: transparent;
  }

  .coming {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 38vw;
    margin-top: 2vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: center;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 38vw;
    margin-top: 4vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }


  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 10vw;
    width: 38vw;
  }

  .textstoria p {
    line-height: 25px;
  }

  .textstoria img {
    height: 8vw;
    margin-bottom: 1vw;
  }

  .nascondi {
    display: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 38vw;
  }

  .textcoming p {
    position: relative;
    float: left;
    width: 38vw;
    line-height: 25px;
    clear: both;
  }

  .textcoming img {
    height: 8vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media  screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {

  h1 {
    font-size: 100px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 40px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  .corpo a {
    text-decoration: none;
    margin-left: 8vw;
    margin-bottom: 30vw
  }

  .storia {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
    background-color: transparent;
    margin-top: 8vw;
  }

  .coming {
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
    height: auto;
    align-items: flex-end;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 30vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: center;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 38vw;
    height: 30vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }


  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 10vw;
    width: 38vw;
  }

  .textstoria p {
    line-height: 25px;
  }

  .textstoria img {
    height: 6vw;
    margin-bottom: 1vw;
  }

  .nascondi {
    display: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 38vw;
  }

  .textcoming p {
    position: relative;
    float: left;
    width: 38vw;
    line-height: 25px;
    clear: both;
  }

  .textcoming img {
    height: 6vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  screen and (min-width: 480px) and (max-width: 767px) {

  h1 {
    font-size: 100px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 40px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_tablet.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  .corpo a:link, a:visited {
    text-decoration: none;
    margin-left: 8vw;
  }

  .storia {
    position: relative;
    float: left;
    width: 100vw;
    margin-top: 8vw;
  }

  .coming {
    position: relative;
    float: left;
    width: 100vw;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: top;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
    display: none;
  }

  .imgcoming2 {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-bottom: 8vw;
    margin-top: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }

  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 5vw;
    width: 84vw;
  }

  .textstoria p {
    line-height: 25px;
    font-size: 15px;
  }

  .textstoria img {
    display: none;
    height: 15vw;
    margin-bottom: 1vw;
  }

.nascondi {
  position: relative;
  float: left;
  margin-left: 8vw;
  display: block;
  height: 15vw;
}

  .textstoria a {
    text-decoration: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 84vw;
  }

  .textcoming p {
    line-height: 25px;
    font-size: 15px;
  }

  .textcoming img {
    height: 15vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media  screen and (min-width: 320px) and (max-width: 480px) {

  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_tel.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vh;
    font-size: 15px;
  }

  .corpo a:link, a:visited {
    text-decoration: none;
    margin-left: 8vw;
  }

  .storia {
    position: relative;
    float: left;
    width: 100vw;
    margin-top: 8vw;
  }

  .coming {
    position: relative;
    float: left;
    width: 100vw;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: top;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
    display: none;
  }

  .imgcoming2 {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-bottom: 8vw;
    margin-top: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }

  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 5vw;
    width: 84vw;
  }

  .textstoria p {
    line-height: 25px;
    font-size: 15px;
  }

  .textstoria img {
    display: none;
    height: 15vw;
    margin-bottom: 1vw;
  }

.nascondi {
  position: relative;
  float: left;
  margin-left: 8vw;
  display: block;
  height: 15vw;
}

  .textstoria a {
    text-decoration: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 84vw;
  }

  .textcoming p {
    line-height: 25px;
    font-size: 15px;
  }

  .textcoming img {
    height: 15vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }

}

@media  screen and (min-width: 250px) and (max-width: 320px) {


  h1 {
    font-size: 90px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 0;
    margin-left: 8vw;
    margin-top: 45vh;
  }

  h3 {
    font-size: 35px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  .corpo {
    position: relative;
    float: left;
    background-image: url(immagini/open_tel.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  .corpo p {
    line-height: 25px;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  .corpo a:link, a:visited {
    text-decoration: none;
    margin-left: 8vw;
  }

  .storia {
    position: relative;
    float: left;
    width: 100vw;
    margin-top: 8vw;
  }

  .coming {
    position: relative;
    float: left;
    width: 100vw;
  }

  .imgstoria {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/screen.png);
    background-position: top;
    background-size: cover;
  }

  .imgcoming {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-top: 8vw;
    margin-left: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
    display: none;
  }

  .imgcoming2 {
    position: relative;
    float: left;
    background-color: white;
    width: 84vw;
    height: 50vw;
    margin-bottom: 8vw;
    margin-top: 8vw;
    background-image: url(immagini/method.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale();
    -webkit-filter: grayscale();
  }

  .textstoria {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 5vw;
    width: 84vw;
  }

  .textstoria p {
    line-height: 25px;
  }

  .textstoria img {
    display: none;
    height: 15vw;
    margin-bottom: 1vw;
  }

.nascondi {
  position: relative;
  float: left;
  margin-left: 8vw;
  display: block;
  height: 15vw;
}

  .textstoria a {
    text-decoration: none;
  }

  .textcoming {
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 15vw;
    width: 84vw;
  }

  .textcoming p {
    line-height: 25px;
  }

  .textcoming img {
    height: 15vw;
    margin-bottom: 1vw;
  }

  .textcoming a:link, a:visited {
    position: relative;
    float: left;
    clear: both;
  }

}
