@media (min-width: 1281px) {

  h3 {
    font-size: 40px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #212529;
    margin: 0;
    margin-left: 8vw;
  }

.open p {
  margin-top: 10vw;
  width: 38vw;
  margin-left: 31vw;
  margin-bottom: 12vw;
  line-height: 25px;
}

.open img {
  width: 38vw;
  margin-left: 31vw;
  margin-top: 18vw;

}

.siemens {
  position: relative;
  display: flex;
  float: left;
  width:100vw;
  align-items: flex-end;
}

.siemens img {
  max-width: 38vw;
  height: 38vw;
  margin-left: 8vw;
  float: left;
  clear: both;
}

.siemens p {
  width: 38vw;
  float: left;
  margin-left: 8vw;
  line-height: 25px;
}

.titolo {
  font-size: 40px;
  font-family: rubrik-new;
  font-weight: 500;
  color: #212529;
  line-height: 3vw;
  margin-left: -0.2vw;
}

.centrale {
  width: 100vw;
  float: left;
  margin-top: 16vw;
}

.vision {
  width: 38vw;
  margin-left: 8vw;
  float: left;
  line-height: 25px;
}

.vision img {
  height: 10vw;
}

.mission {
  width: 38vw;
  margin-left: 8vw;
  float: left;
  line-height: 25px;
}

.mission img {
  height: 10vw;
}

.finale img{
  width: 100vw;
  margin-bottom: -3vw;
  margin-top: 16vw;
}
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  p {
    font-size: 15px;
    line-height: 18px;
  }

.titolo {
  font-size: 40px;
  font-family: rubrik-new;
  font-weight: 500;
  color: #212529;
  line-height: 6vw;
  margin-left: -0.2vw;
}

.open {
  height: 100vh;
}

.open p {
  margin-top: 30vw;
  width: 84vw;
  margin-left: 8vw;
  margin-bottom: 12vw;
  line-height: 25px;
}

.open img {
  width: 84vw;
  margin-left: 8vw;
  margin-top: 70vw;


}

.siemens {
  position: relative;
  display: block;
  float: left;
  width:100vw;
}

.siemens img {
  width: 84vw;
  height: 84vw;
  margin-left: 8vw;
  float: left;

}

.siemens p {
  width: 84vw;
  float: left;
  margin-left: 8vw;
  margin-top:10vw;
  line-height: 25px;
}

.centrale {
  width: 100vw;
  float: left;
  margin-top: 30vw;
}

.vision {
  width: 84vw;
  margin-left: 8vw;
  float: left;
  line-height: 25px;
}

.vision img {
  height: 15vw;
}

.mission {
  width: 84vw;
  margin-left: 8vw;
  float: left;
  line-height: 25px;
}

.mission img {
  margin-top: 10vw;
  height: 15vw;
}

.finale img{
  width: 100vw;
  margin-bottom: 30vw;
  margin-top: 30vw;
}
}

}
