@media  screen and (min-width: 1281px) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 92vw;
  margin-left: 8vw;
  margin-top: 100px;
  display: flex;
 flex-wrap: wrap;
}

.persona {
 margin-bottom: 60px;
 margin-right: 8vw;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
  width: 22vw;
}

.persona img {
  width: 22vw;
  height: 15vw;
  background-color: #e53b1a;
}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media  screen and (min-width: 1025px) and (max-width: 1280px) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 92vw;
  margin-left: 8vw;
  margin-top: 100px;
  display: flex;
 flex-wrap: wrap;
}

.persona {
 margin-bottom: 60px;
 margin-right: 8vw;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
  width: 22vw;
}

.persona img {
  width: 22vw;
  height: 15vw;
  background-color: #e53b1a;
}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media  screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 92vw;
  margin-left: 8vw;
  margin-top: 100px;
  display: flex;
 flex-wrap: wrap;
}

.persona {
 margin-bottom: 60px;
 margin-right: 8vw;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
  width: 36vw;
}

.persona img {
  width: 36vw;
  height: 25vw;
  background-color: #e53b1a;
}


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 92vw;
  margin-left: 8vw;
  margin-top: 100px;
  display: flex;
 flex-wrap: wrap;
}

.persona {
 margin-bottom: 60px;
 margin-right: 8vw;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
  width: 36vw;
}

.persona img {
  width: 36vw;
  height: 25vw;
  background-color: #e53b1a;
}
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  screen and (min-width: 481px) and (max-width: 767px) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 92vw;
  margin-left: 8vw;
  margin-top: 100px;
  display: flex;
 flex-wrap: wrap;
}

.persona {
 margin-bottom: 60px;
 margin-right: 8vw;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
  width: 36vw;
}

.persona img {
  width: 36vw;
  height: 25vw;
  background-color: #e53b1a;
}

}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media  screen and (min-width: 321px) and (max-width: 480px) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 84vw;
  margin-left: 8vw;
  margin-top: 100px;

}

.persona {
 margin-bottom: 60px;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
}

.persona img {
  width: 84vw;
  height: 50vw;
  background-color: #e53b1a;
}


}

@media  screen and (min-width: 250px) and (max-width: 320px) {

  h4 {
    font-size: 30px;
    font-family: rubrik-new;
    font-weight: 400;
    color: #212529;
    margin: 20px 0 30px 0;
  }

  h5 {
    font-size: 20px;
    font-family: rubrik-new;
    font-weight: 500;
    color: #e53b1a;
    margin: 20px 0 10px 0;
  }

.main {
  width: 84vw;
  margin-left: 8vw;
  margin-top: 100px;

}

.persona {
 margin-bottom: 60px;
}

.persona p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 200;
  margin:0;
}

.persona img {
  width: 84vw;
  height: 50vw;
  background-color: #e53b1a;
}

}
